/*カレンダー*/
.calendar {
  text-align: center;
  width: 50%;

}
table {
  outline: none;
  border-collapse: collapse;
  width: 100%;
}
th {
  color: #97b9d1;
}
th, td {
  outline: none;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

/*前後月の日付*/
td.disabled {
  color: #ccc;
}


/*ボタン*/
#next-prev-button {
  position: relative;
}
#next-prev-button button{
  cursor: pointer;
  background: #B78D4A;
  color: #fff;
  border: 1px solid #B78D4A;
  border-radius: 4px;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  margin: 1rem 0;
}
#next-prev-button button:hover{
  background-color: #D4BB92;
  border-color: #D4BB92;
}
#prev {
  float: left;
}
#next {
  float: right;
}
