

/*ローディング*/


#loading-main {
  display: block;
  position: relative;
  top: 40%;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
  animation: loading 1000ms linear 0ms infinite normal both;
}
#loading-main:before{
  width: 50%;
  height: 50%;
  background: linear-gradient(to right, #0074BB 0%, #02CDFB 100%);
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
#loading-main:after{
  background: #ffffff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@keyframes loading {
  0% { transform: rotate( 0deg ); }
  100% { transform: rotate( 360deg ); }
}
